body {
    background-image: url(../img/double-bubble.png);
}

.logo {
    font-family: 'Dancing', cursive;
}

.logo a {
    color: rgba(0,0,0,0.9)
}

.logo a:hover,
.logo a:active {
    text-decoration:none;
}